/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'CustomFont';
    src: url('aptly.ttf');
}

@font-face {
    font-family: 'CasualFont';
    src: url('casualfont.otf');
}

body {
    /* font-family: "CustomFont"; */
    background: #ffffff;
    color: #FFFFFF;
    overflow-x: hidden;
}

/* Top Navigation Bar */
nav {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 50%;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(8px) brightness(1.2);
    -webkit-backdrop-filter: blur(8px) brightness(1.2);
    color: rgb(0, 0, 0);
    font-family: "CustomFont";
    font-size: 20px;
    z-index: 20;
    background-color: rgba(247, 247, 247, 0.763);
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    color: inherit;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
    padding: 8px 0;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ab64f3;
    transition: width 0.3s ease;
}

nav a.active::after {
    width: 100%;
}

nav a:hover::after {
    width: 100%;
}

/* Introduction section */
#section-introduction {
    min-height: 100vh;
    padding: 2rem;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-introduction .intro {
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 15rem;
    margin: 0;
    text-align: center;
    color: #BDBDBD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#section-introduction .title {
    /* font-family: 'Protest Guerrilla', sans-serif; */
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #BDBDBD;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#section-introduction .about {
    /* font-family: 'Protest Guerrilla', sans-serif; */
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #BDBDBD;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Georgia Tech section */
.gt-section {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gt-fullscreen-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-out;
}

.gt-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.gt-fullscreen-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.gt-overlay {
    display: flex;
    align-items: flex-start;
    padding-top: 80px;
    padding-left: 80px;
}

.gt-text-container {
  position: absolute;
  top: 80px;
  right: 80px;
  max-width: 600px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 8px;
  box-shadow: -10px -10px 10px 0 rgba(107, 107, 118, 0.2),
                10px 10px 10px 0 rgba(107, 107, 118, 0.2);
}

.gt-text-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.gt-overlay h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: none; /* Remove the text shadow */
  text-align: left;
  line-height: 1.6;
  color: #ffffff; /* Dark text color for better contrast on white background */
  margin: 0;
}

.bee-corner {
    position: fixed;
    top: -20vh;
    left: -70vh;
    width: 150px;
    height: 150px;
    z-index: 10;
    pointer-events: none; /* So it doesn't interfere with clicks */
}


/* Profile card */
.profile-card {
    text-align: center;
    max-width: 400px;
}

.profile-image {
    width: 200px;
    height: 200px;
    margin: 0 auto 1.5rem;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info h2 {
    margin-bottom: 0.5rem;
}

.profile-title {
    color: #ab64f3;
    margin-bottom: 1rem;
}

.profile-quote {
    font-style: italic;
    color: #808080;
}

/* Project */

/* Heading styles */
.content-section h1 {
    font-family: "CustomFont";
    font-size: 4rem;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10%;
}

  .content-section h3 {
    font-size: 1rem;
    margin-left: 10%;
  }
  
  .project_container {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex; /* Flexbox layout for horizontal alignment */
    justify-content: space-between;
    text-align: center;
  }
  
  /* ALL CARD STYLING */
  .side {
      position: absolute;
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 20px 50px;
      color: #000000;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      border-radius: 20px;
  }
  
  .contents {
      transform: translatez(70px) scale(0.8);
      line-height: 1.5em;
  }
  .contents h2 {
    font-size: 2rem;
  }
  .contents p {
      margin-top: 50px;
      line-height: 2em;
  }
  .content h2:before {
      content: "";
      position: absolute;
      bottom: -20px;
      height: 3px;
      background-color: rgb(255, 255, 255);
      width: 70px;
      left: 50%;
      transform: translateX(-50%);
  }
  .front {
      z-index: 2;
      background-size: 100vh;
      background-size: cover;
      /* background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg); */
  }
  .back {
      background-color: #333;
      transform: rotateY(180deg);
      z-index: 0;
      padding-top: 10px;
      /* background-image: url(https://userscontent2.emaze.com/images/f9538183-0ff9-478f-b964-c8ab90421e3b/3d28e192fda5c17250f96a2779c84475.jpg); */
  }
  
  .back h1 {
      margin: 0;
  }
  
  /* box of flip cards */
  .FDP-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
  
    /* Ensure the element is a square */
    width: 500px;  /* Adjust this value as needed */
    height: 500px; /* Same value as width */
  
    /* Box shadow for aesthetics */
    box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
                rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
                rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  
    /* Optional: Keep the corners slightly rounded */
    border-radius: 5%;
    -webkit-transition: 1.5s ease-in-out;
      transition: 1.5s ease-in-out;
      transform-style: preserve-3d;
  }
  
  .ETD-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(251, 251, 251);
    margin-top: 10px;
  
    /* Ensure the element is a square */
    width: 500px;  /* Adjust this value as needed */
    height: 500px; /* Same value as width */
  
    /* Box shadow for aesthetics */
    box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
                rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
                rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  
    /* Optional: Keep the corners slightly rounded */
    border-radius: 5%;
  
    /* flip */
    -webkit-transition: 1.5s ease-in-out;
      transition: 1.5s ease-in-out;
      transform-style: preserve-3d;
  }
  
  .AFF-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(251, 251, 251);
    margin-top: 10px;
  
    /* Ensure the element is a square */
    width: 500px;  /* Adjust this value as needed */
    height: 500px; /* Same value as width */
  
    /* Box shadow for aesthetics */
    box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
                rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
                rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  
    /* Optional: Keep the corners slightly rounded */
    border-radius: 5%;
  
    /* flip */
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
  }
  
  .CA-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
    padding: 15px;
    font-size: 30px;
    background-color: rgb(251, 251, 251);
    margin-top: 10px;
  
    /* Ensure the element is a square */
    width: 500px;  /* Adjust this value as needed */
    height: 500px; /* Same value as width */
  
    /* Box shadow for aesthetics */
    box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 0px 1px,
                rgba(0, 0, 0, 0.05) 0px 1px 0px 0px,
                rgba(0, 0, 0, 0.03) 0px 0px 8px 0px,
                rgba(0, 0, 0, 0.1) 0px 20px 30px 0px;
  
    /* Optional: Keep the corners slightly rounded */
    border-radius: 5%;
  
    /* flip */
    -webkit-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    transform-style: preserve-3d;
  }
  
  /* flip to back */
  .FDP-container:hover {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
  
  .ETD-container:hover {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
  
  .AFF-container:hover {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }
  
  .CA-container:hover {
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }